.menu-center {
  position: relative;
  margin-left: 485px;
}

.menu-underline:hover {
  text-decoration: underline;
}

.underline {
  text-decoration: underline;
}

.border-carousel {
  border-radius: 20px;
}

.carousel-width {
  max-width: 900px;
  position: relative;
  margin-left: 518px;
  margin-top: -418px;
}

.carousel-height {
  max-height: 470px !important;
}

.title-web-expo {
  font-size: 75px;
  position: relative;
  z-index:2;
}

.container-first-div {
  margin-left: 90px;
}

.text-web-expo-div {
  height: 10em;
  position: relative;
  margin-right: 1050px;
}

.text-web-expo-div p {
  margin: 0;
   position: absolute;              
   top: 42%;                         
   transform: translate(0, -50%)
}

.section-padding {
  margin-top: 50px;
}

.box-about {
  background-color: black;
  color: white;
  width: 280px;
  height: 78px;
  position: relative
}

.box-about a {
  margin: 0;
  position: absolute;               
  top: 50%;
  font-size: 35px;                         
  transform: translate(0, -50%)
}

.text-web-expo-div_two {
  height: 10em;
  position: relative;
  margin-right: 300px;
}

.text-web-expo-div_two a {
  margin: 0;
   position: absolute;              
   top: 42%;                         
   transform: translate(0, -50%)
}

.container-text {
  margin-left: 110px;
}

.row-icon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.box-entry {
  display: block;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  margin-bottom: 30px;
  position: relative;
}
